@model cp5_d.Models.Carro
@{
    ViewData["Title"] = "Editar Carro";
}
<h1>Editar Carro</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Marca" class="form-label"></label>
        <input asp-for="Marca" class="form-control" />
        <span asp-validation-for="Marca" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Modelo" class="form-label"></label>
        <input asp-for="Modelo" class="form-control" />
        <span asp-validation-for="Modelo" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Ano" class="form-label"></label>
        <input asp-for="Ano" class="form-control" />
        <span asp-validation-for="Ano" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Preco" class="form-label"></label>
        <input asp-for="Preco" class="form-control" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LojaId" class="form-label">Loja</label>
        <select asp-for="LojaId" class="form-select" asp-items="ViewBag.Lojas"></select>
        <span asp-validation-for="LojaId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>
@section Scripts{<partial name="_ValidationScriptsPartial" />}
